[submodule "bunsan/cmake"]
	path = bunsan/cmake
	url = https://github.com/bunsanorg/cmake.git
[submodule "bunsan/test"]
	path = bunsan/test
	url = https://github.com/bunsanorg/test.git
[submodule "bunsan/common"]
	path = bunsan/common
	url = https://github.com/bunsanorg/common.git
[submodule "bunsan/process"]
	path = bunsan/process
	url = https://github.com/bunsanorg/process.git
[submodule "bunsan/protobuf"]
	path = bunsan/protobuf
	url = https://github.com/bunsanorg/protobuf.git
[submodule "bunsan/utility"]
	path = bunsan/utility
	url = https://github.com/bunsanorg/utility.git
