[submodule "bunsan/cmake"]
	path = bunsan/cmake
	url = https://github.com/bunsanorg/cmake.git
[submodule "bunsan/test"]
	path = bunsan/test
	url = https://github.com/bunsanorg/test.git
[submodule "bunsan/common"]
	path = bunsan/common
	url = https://github.com/bunsanorg/common.git
[submodule "bunsan/process"]
	path = bunsan/process
	url = https://github.com/bunsanorg/process.git
[submodule "bunsan/protobuf"]
	path = bunsan/protobuf
	url = https://github.com/bunsanorg/protobuf.git
[submodule "bunsan/utility"]
	path = bunsan/utility
	url = https://github.com/bunsanorg/utility.git
[submodule "bunsan/crypto"]
	path = bunsan/crypto
	url = https://github.com/bunsanorg/crypto.git
[submodule "bunsan/pm"]
	path = bunsan/pm
	url = https://github.com/bunsanorg/pm.git
[submodule "bunsan/common_python"]
	path = bunsan/common_python
	url = https://github.com/bunsanorg/common_python.git
[submodule "bunsan/broker"]
	path = bunsan/broker
	url = https://github.com/bunsanorg/broker.git
[submodule "bunsan/bacs/common"]
	path = bunsan/bacs/common
	url = https://github.com/bunsanorg/bacs_common.git
[submodule "bunsan/bacs/problem"]
	path = bunsan/bacs/problem
	url = https://github.com/bunsanorg/bacs_problem.git
[submodule "bunsan/bacs/problem_plugins/single"]
	path = bunsan/bacs/problem_plugins/single
	url = https://github.com/bunsanorg/bacs_problem_single.git
[submodule "bunsan/bacs/problems"]
	path = bunsan/bacs/problems
	url = https://github.com/bunsanorg/bacs_problems.git
[submodule "bunsan/rpc"]
	path = bunsan/rpc
	url = https://github.com/bunsanorg/rpc.git
